{% extends 'layout/base.html.twig' %}

{% block title %}Loisir{% endblock %}

{% block body %}
    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">Aux alentours du Sénégal</h1>
                        <p class="text-white">Voici un petit résumé à découvrir au Sénégal. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img src="{{ asset('assets/images/loisir/loisir4.jpg') }}" alt="Image" class="img-fluid"></a>
                        <div class="d-flex">
                            <div>
                                <h3><a href="#">La littérature</a></h3>
                                <p>La culture  sénégalaise a longtemps été décrite par la  littérature  connue dans le monde surtout à travers Léopold Sédar Senghor, à la fois poète et homme d’État, chantre de la négritude et figure emblématique de la francophonie. Parmi les autres auteurs culturels  désormais classiques figurent notamment les romanciers Cheikh Hamidou Kane, Birago Diop, Boubacar Boris Diop, mais aussi Ousmane Sembène qui portera à l’écran quelques-uns de ses propres romans. De leur côté les femmes sont particulièrement actives, voire incisives. En 1980, Mariama Bâ décrit avec une grande sensibilité la société polygame dans « Une si longue lettre ». Aminata Sow Fall, dans « La Grève des Bàttu » (1986), montre que le petit peuple n’était pas dépourvu de ressources.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img src="{{ asset('assets/images/loisir/loisir1.jpg') }}" alt="Image" class="img-fluid"></a>
                        <div class="d-flex">
                            <div>
                                <h3><a href="#">La cuisine</a></h3>
                                <p>La romancière Aminata Sow Fall met en scène la place essentielle occupée par la cuisine sénégalaise dans la culture et la vie quotidienne du pays. La « teranga », ce sens de l’hospitalité cher au cœur des Sénégalais, s’exprime souvent autour d’un plat unique réunissant la famille et les amis. Relativement peu connue à l’étranger en dehors des communautés issues de l’immigration et de quelques restaurants de grandes villes, la cuisine sénégalaise a attiré l’attention des médias avec la publication du livre de Youssou N’Dour, « La cuisine de ma mère », vibrant hommage aux valeurs familiales comme aux plats relevés et longuement mijotés. Cette cuisine présente quelques similitudes avec celles des pays d’Afrique de l’Ouest, mais elle accueille d’autres influences, venues d’Afrique du Nord, du Liban, de la France ou du Portugal.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img src="{{ asset('assets/images/loisir/loisir3.jpg') }}" alt="Image" class="img-fluid"></a>
                        <div class="d-flex">
                            <div>
                                <h3><a href="#">Le cinéma</a></h3>
                                <p>Le cinéma sénégalais est l’un des plus anciens d’Afrique. Ses représentants les plus connus sont les cinéastes Ousmane Sembène  également romancier  et Djibril Diop Mambéty, auxquels il faut ajouter Tidiane Aw, ou Safi Faye, réalisatrice de films documentaires. Ces productions sont souvent mieux appréciées à l’étranger qu’au Sénégal où beaucoup de salles ont fermé, concurrencées par le marché plus florissant de la vidéo.
                                    On remarque également que nombre de films d’origines diverses ont été tournés dans ce pays au climat propice et aux paysages des plus photogéniques. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img src="{{ asset('assets/images/loisir/loisir6.jpg') }}" alt="Image" class="img-fluid"></a>
                        <div class="d-flex">
                            <div>
                                <h3><a href="#">La Musique</a></h3>
                                <p>Les grands noms de la musique sénégalaise contemporaine sont : Youssou N’Dour, compositeur, musicien et interprète de renommée internationale. Baba Maal est un auteur-compositeur, interprète qui se produit internationalement ainsi que Ismael Lô,  Thione Seck, Omar Pène , et Coumba Gawlo Seck.
                                    Djembé, sabar, kora, xalam, tambour d’aisselle et balafon font partie des instruments traditionnels toujours très populaires. Parmi les instruments de percussion, le sabar et le Mbalax désignent à la fois l’instrument de musique, un style de musique et une danse. Ce sont des sons typiques de la culture.
                                    Les instruments à corde telle que la kora connue dans toute l’Afrique de l’ouest sont à présent connus en dehors du continent à travers des groupes de jazz ou de world musique. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div class="untree_co-section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-6 col-md-6 col-lg-3">#}
{#                    <div class="service text-center">#}
{#                        <span class="icon-paper-plane"></span>#}
{#                        <h3>Excellence in Travel</h3>#}
{#                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-6 col-md-6 col-lg-3">#}
{#                    <div class="service text-center">#}
{#                        <span class="icon-tag"></span>#}
{#                        <h3>Discover Best</h3>#}
{#                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-6 col-md-6 col-lg-3">#}
{#                    <div class="service text-center">#}
{#                        <span class="icon-user"></span>#}
{#                        <h3>A New Moments of Life</h3>#}
{#                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-6 col-md-6 col-lg-3">#}
{#                    <div class="service text-center">#}
{#                        <span class="icon-support"></span>#}
{#                        <h3>Joy To Your Journey</h3>#}
{#                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="untree_co-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="section-title text-center mb-3">TOUR DU SÉNÉGAL</h2>
                    <p>Plusieurs des villes du Sénégal offrent un spectacle magnifique.</p>
                </div>
            </div>
            <div class="row align-items-stretch">
                <div class="col-lg-4 order-lg-1">
                    <div class="h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('{{ asset('assets/images/hero-slider-1.jpg') }}');"></div></div></div>
                </div>

                <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

                    <div class="feature-1 d-md-flex">
                        <div class="align-self-center">
                            <span class="flaticon-house display-4 text-primary"></span>
                            <h3>Logements</h3>
                            <p class="mb-0">Vous ne savais pas où dormir, voici des bons plants d'hébergement.</p>
                        </div>
                    </div>

                    <div class="feature-1 ">
                        <div class="align-self-center">
                            <span class="flaticon-restaurant display-4 text-primary"></span>
                            <h3>Restaurants & Cafe</h3>
                            <p class="mb-0">Petite faim, vous trouverez sur ici les bons plants pour ce restaurer ou
                                passer un bon moment devant un café et en écoutant une bonne music...</p>
                        </div>
                    </div>

                </div>

                <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

                    <div class="feature-1 d-md-flex">
                        <div class="align-self-center">
                            <span class="flaticon-playground display-4 text-primary"></span>
                            <h3>Loisirs</h3>
                            <p class="mb-0">Vous voulez faire une promenade, voir le couché de soleil au bord de la mer, faire la fête le soir avec des concerts inédit ou pourquoi pas une boite de nuit :) .</p>
                        </div>
                    </div>

                    <div class="feature-1 d-md-flex">
                        <div class="align-self-center">
                            <span class="flaticon-phone-call display-4 text-primary"></span>
                            <h3>Nous Contactez</h3>
                            <p class="mb-0">Contactez-nous pour toute sortes de renseignement, nous répondront le plus rapidement possible.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


{% endblock %}
