{% extends 'layout/base.html.twig' %}

{% block title %}Dakar{% endblock %}

{% block body %}

    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">Dakar la capital</h1>
                        <p class="text-white">Posée sur la pointe ouest du continent africain, Dakar, la capitale du Sénégal est un carrefour entre l’Afrique et l’Occident, qui s’impose aujourd’hui comme le centre de ralliement politique, économique et culturel de l’Afrique de l’Ouest.. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="untree_co-section">
        <div class="container my-5">
            <div class="mb-5">
                <div class="owl-single dots-absolute owl-carousel">
                    <img src="{{ asset('assets/images/dak/dak11.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/dak/dak6.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/dak/dak12.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/dak/dak13.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    {#                    <img src="{{ asset('assets/images/lac/sliderl1.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">#}
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-lg-4">
                    <div class="custom-block" data-aos="fade-up">
                        <h2 class="section-title">Activité sur la Capitale</h2>
                        <div class="custom-accordion" id="accordion_1">
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">La Région de Dakar </button>
                                </h2>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
                                    <div class="accordion-body">
                                        Vous cherchez un endroit dépaysant à tout juste 6 heures d’avion de chez vous ? Et si vous vous laissiez tenter par le Sénégal et plus particulièrement la ville de Dakar ? Alors que pour certains, Dakar est synonyme de bruit, de fureur, d’embouteillages, de saleté, il semble que la ville revêt une autre aura, à savoir une ville incroyable et fascinante, une cité vivante, animée, chaleureuse, baignée par les embruns de l’océan.<br><br>

                                    </div>
                                </div>
                            </div> <!-- .accordion-item -->

                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Activité au tour de Dakar</button>
                                </h2>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
                                    <div class="accordion-body">
                                        Il y a d’abord le palais présidentiel : ancien palais du gouverneur de Dakar pendant l’époque coloniale, ce palais se situe face à la mer, entouré de jardins tropicaux magnifiques. Hélas, ce palais n’est pas visitable de l’intérieur et il est recommandé d’avoir l’autorisation d’un Garde Rouge (légion de la gendarmerie) pour faire quelques photos.<br><br>
                                       <b>Le cimetière catholique de Bel Air</b>  : situé dans le quartier de Bel Air, non loin du camp militaire français et de la plage de la Voile d’Or, ce cimetière est réservé à tous les catholiques et un monument aux morts vient rendre hommage aux victimes des bataillons de tireurs sénégalais de deux guerres mondiales.<br><br>
                                        La cathédrale de Dakar : un lieu assez incroyable à découvrir, notamment pour ses fresques africaines sur le parvis.<br><br>

                                        <b>L’Hôtel de Ville</b>  : un bâtiment colonial qui n’a pas perdu de sa fonction originale. Il domine le port et l’édifice présente un certain cachet. Impossibilité de visiter la mairie mais il est possible de découvrir les locaux municipaux ainsi que le jardin.<br><br>

                                        <b>La Corniche</b>  : c’est en fait une route qui longe la côte escarpée du bout de la presqu’île du Cap Vert. Une route peu fréquentée et c’est pourquoi il faut faire très attention à ne pas y circuler le soir ou à la nuit tombée. En journée, c’est un lieu parfait pour découvrir au loin des îles de Gorée et aussi celles des Madeleines.<br><br>

                                        <b>L’Université Cheikh Anta Diop</b>  : tout simplement la plus grande université d’Afrique de l’Ouest. Comprenant un campus, des bâtiments scientifiques mais aussi un hôpital universitaire, l’école nationale de développement sanitaire, cette université est une véritable petite ville au sein de Dakar. Un havre de paix et de silence où l’on peut flâner, travailler, se reposer, boire une boisson fraiche, acheter quelques livres dans les boutiques.<br><br>

                                        N’oubliez pas le Monument de la Renaissance africaine, une statue monumentale de 52 mètres en bronze et cuivre
                                    </div>
                                </div>
                            </div> <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">D’autres lieux</button>
                                </h2>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
                                    <div class="accordion-body">
                                        <b>Le parc d’Hann</b>  est un petit parc forestier qui recense toutes les espèces végétales du pays. Les grandes allées vous permettent de vous promener tranquillement ou alors de faire votre petite séance de running matinal. Pour ceux qui ont des enfants, cet endroit est parfait puisqu’il bénéficie aussi d’un parc zoologique avec de nombreux spécimens de lions, de gazelles, de gorilles, de hyènes, de petits singes.<br><br>

                                        <b>Le marché Kermel</b>  : datant du milieu du 19e siècle, c’est l’un des sites les plus importants de Dakar car c’est ici que se concentre toute la vie économique et sociale de la ville : un va et vient constant de personnes, d’odeurs, de saveurs et de couleurs à en perdre la tête. Les produits proposés sur les étals sont de très bonne qualité (fruits, poissons, viandes) même si les tarifs sont un peu plus chers qu’à l’accoutumée.<br><br>

                                        Pour les plus <b>religieux d’entre vous</b> , la grande mosquée de Dakar est ouverte y compris aux non-musulmans, il suffit juste de se plier aux règles d’usage musulmanes (retirer ses chaussures, faire silence dans les salles de prières, vous couvrir les épaules et les jambes).<br><br>

                                        <b>La plage de Yoff</b> , (évoquée au début de cet article) est un endroit parfait pour oublier les sollicitations constantes, le trafic, le bruit, la poussière. Si vous avez des enfants, voici un endroit pour souffler en famille, mettre les pieds dans l’eau. Et puis, profitez du panorama qui s’offre à vous au sommet de l’une des deux « mamelles » de la plage, l’une de ces collines surmontées d’un phare.<br><br>

                                        <b>La Pointe des Almadies</b>  est le point le plus occidental de toute l’Afrique, elle se situe au bout de la péninsule du Cap Vert avec ses deux petites collines de 100 mètres de haut, vous aurez l’occasion d’admirer une vue imprenable sur l’océan, sur la plage et un petit bout de Dakar.
                                    </div>
                                </div>

                            </div> <!-- .accordion-item -->

                        </div>
                    </div> <!-- END .custom-block -->
                    <div class="custom-block" data-aos="fade-up">
                        <h2 class="section-title">Gallery</h2>
                        <div class="row gutter-v2 gallery">
                            <div class="col-4">
                                <a href="{{ asset('assets/images/dak/dak1.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/dak/dak1.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/dak/dak6.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/dak/dak6.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/dak/dak8.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/dak/dak8.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/dak/dak9.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/dak/dak9.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/dak/dak10.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/dak/dak10.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/dak/dak11.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/dak/dak11.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>

                            <div class="col-4">
                                <a href="{{ asset('assets/images/dak/dak12.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/dak/dak12.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/dak/dak13.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/dak/dak13.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/dak/dak7.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/dak/dak7.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                        </div>
                    </div> <!-- END .custom-block -->


                </div>
                <div class="col-lg-4">
                    <div class="custom-block" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="section-title">Plus de Renseignements ? </h2>
                        <form class="contact-form bg-white">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-black" for="fname">Prénom*</label>
                                        <input type="text" class="form-control" id="fname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-black" for="lname">Nom*</label>
                                        <input type="text" class="form-control" id="lname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-black" for="email">Email* </label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre adresse électronique à qui que ce soit..</small>
                            </div>

                            <div class="form-group">
                                <label class="text-black" for="message">Message*</label>
                                <textarea name="" class="form-control" id="message" cols="30" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="text-black" for="select">Select*</label>

                                <select name="" id="select" class="custom-select">
                                    <option value="">Lac-Rose</option>
                                    <option value="">Dakar</option>
                                    <option value="">Saint-Louis</option>
                                    <option value="">île de Gorée</option>
                                    <option value="">Désert de Lompoul</option>
                                    <option value="">Casamance</option>
                                    <option value="">Le Saloum</option>

                                </select>

                            </div>
                            <div class="form-group">
                                <label class="control control--checkbox">
                                    <span class="caption">Condition Générale</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center mt-5 section">

    </div>
    </div>




{% endblock %}
