{% extends 'layout/base.html.twig' %}

{% block title %}Ville de Saint-Louis{% endblock %}

{% block body %}
    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">Région de Saint-Louis</h1>
                        <p class="text-white">La Région de Saint-Louis est l’une des 14 régions du Sénégal. Située au nord du pays, elle a pour chef-lieu Saint-Louis et se compose de 3 départements que sont Dagana, Podor et Saint-Louis. Sa population totale est de près d’un million d’habitants et ses principales communes sont : Rosso Sénégal, Richard Toll, Dagana, Niandane, Podor et Golléré. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="untree_co-section">
        <div class="container my-5">
            <div class="mb-5">
                <div class="owl-single dots-absolute owl-carousel">
                    <img src="{{ asset('assets/images/sl/sl1.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/sl/sl4.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/sl/sl8.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/sl/sl5.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/sl/sl3.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">

                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-lg-4">
                    <div class="custom-block" data-aos="fade-up">
                        <h2 class="section-title">A Visiter</h2>
                        <div class="custom-accordion" id="accordion_1">
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">La ville de Saint-Louis </button>
                                </h2>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
                                    <div class="accordion-body">
                                        Saint-Louis se trouve à l'embouchure du fleuve Sénégal, à 264 km2 au nord de la capitale du pays, Dakar, près de la frontière avec la Mauritanie. Du fait de cette situation géographique, au moment de la création du comptoir français, elle est simplement appelée « Île du Sénégal », puis « colonie du Sénégal » ; ce nom sera étendu à l'ensemble du Sénégal actuel après les annexions qui font suite à la conférence de Berlin. La République du Sénégal reprendra à son tour le nom du fleuve lors de son indépendance en 1960.<br><br>
                                        Saint-Louis fut la première ville fondée par les Européens en Afrique occidentale en 16593. Établie par des marins de Dieppe (Normandie) sur l'île homonyme du fleuve Sénégal, longue de 2 km et large de 300 m, elle fut baptisée ainsi en l'honneur du roi de France régnant Louis XIV, au travers de son ancêtre et homonyme Saint Louis.
                                    </div>
                                </div>
                            </div> <!-- .accordion-item -->

                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Cultures & Architectures</button>
                                </h2>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
                                    <div class="accordion-body">
                                        Saint-Louis, qu'on surnommait la « Venise africaine » est classée au répertoire du patrimoine mondial par l'Unesco depuis l'an 2000. Elle s'est lancée dans un ambitieux programme de rénovation de ses anciens bâtiments et a commencé à transformer les entrepôts en restaurants et en hôtels.

                                        La ville conserve de très nombreuses maisons, typiques de l'époque coloniale, avec leur façade de chaux, leur double toiture en tuile, leur balcon en bois et leur balustrade en fer forgé.

                                        La musique jazz, amenée par les soldats américains, au moment de la Seconde Guerre mondiale, a fait éclore toute une génération de jazzmen africains. Le Festival international de Jazz de Saint-Louis a été créé en 1992.

                                        Lors du défilé du Fanal, les habitants défilent au son des tam-tam, en portant des lampions qu'ils ont confectionnés et qui ressemblent à ceux que les esclaves du xviie siècle portaient pour éclairer les Signares jusqu'à la messe de minuit.

                                        Depuis 2003 se déroule le Festival Rapandar, d'abord consacré au mouvement hip-hop sénégalais et aujourd'hui ouvert aux musiciens et groupes de rap africains ou internationaux, avec le message « citoyens africains, citoyens du monde : un échange culturel dynamique ».

                                        Le Musée du Centre de Recherches et de Documentation du Sénégal à Saint-Louis est fondée en 1956.

                                        En 2017, le MuPho11, premier musée consacré à la photographie au Sénégal est créé12.<br><br>
                                        Le quartier historique (l'île Saint Louis)17, relié par un pont métallique à sept arches, le pont Faidherbe, aux quartiers de l'île de Sor. Les plans de ce pont sont attribués à tort à Gustave Eiffel. C'est l'entreprise Nouguier, Kessler & Cie, ancienne maison Joly, d’Argenteuil, qui en assura la réalisation. Il a été totalement rénové en 2015.
                                        Le siège de la gouvernance est construit sur l'emplacement d'un ancien fort colonial dont quelques murs subsistent.
                                        La statue en bronze de Faidherbe par Crauck, fondue par Thiébaut en 1886 (352 kg), érigée de son vivant, en 1887, non loin du pont, place Faidherbe, ex place d'Orléans, autrefois « La Savane »
                                    </div>
                                </div>
                            </div> <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Activités à faire</button>
                                </h2>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
                                    <div class="accordion-body">
                                        * 31e édition du Festival International de Jazz de Saint-Louis qui se déroulera à la place Faidherbe.<br><br>
                                        *Festival Au Tour des Cordes Saint-Louis du Sénégal.
                                        <br><br>
                                        * La 30ème édition du festival de Jazz de Saint-Louis du Sénégal
                                        <br><br>
                                        * Stlouis’DOCS 2022, 13° festival international du film documentaire de Saint-Louis Sénégal
                                        <br><br>
                                        * Exposition d’arts plastiques « Les itinéraires artistiques de Saint-Louis »  au musée du CRDS Ex IFAN
                                        <br><br>
                                        * La Foire Internationale Agricole du Nord réunira l’ensemble des métiers en rapport avec le secteur
                                    </div>
                                </div>

                            </div> <!-- .accordion-item -->

                        </div>
                    </div> <!-- END .custom-block -->
                    <div class="custom-block" data-aos="fade-up">
                        <h2 class="section-title">Gallery</h2>
                        <div class="row gutter-v2 gallery">
                            <div class="col-4">
                                <a href="{{ asset('assets/images/sl/sl4.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/sl/sl4.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/sl/sl11.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/sl/sl11.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/sl/sl9.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/sl/sl9.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/sl/sl6.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/sl/sl6.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/sl/sl7.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/sl/sl7.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/sl/sl10.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/sl/sl10.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>

                            <div class="col-4">
                                <a href="{{ asset('assets/images/sl/sl12.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/sl/sl12.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/sl/sl13.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/sl/sl13.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-4">
                                <a href="{{ asset('assets/images/sl/sl14.jpg') }}" class="gal-item" data-fancybox="gal"><img src="{{ asset('assets/images/sl/sl14.jpg') }}" alt="Image" class="img-fluid"></a>
                            </div>
                        </div>
                    </div> <!-- END .custom-block -->


                </div>
                <div class="col-lg-4">
                    <div class="custom-block" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="section-title">Plus de Renseignements ? </h2>
                        <form class="contact-form bg-white">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-black" for="fname">Prénom*</label>
                                        <input type="text" class="form-control" id="fname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-black" for="lname">Nom*</label>
                                        <input type="text" class="form-control" id="lname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-black" for="email">Email* </label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre adresse électronique à qui que ce soit..</small>
                            </div>

                            <div class="form-group">
                                <label class="text-black" for="message">Message*</label>
                                <textarea name="" class="form-control" id="message" cols="30" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="text-black" for="select">Select*</label>

                                <select name="" id="select" class="custom-select">
                                    <option value="">Saint-Louis</option>
                                    <option value="">Dakar</option>
                                    <option value="">Lac-Rose</option>
                                    <option value="">île de Gorée</option>
                                    <option value="">Désert de Lompoul</option>
                                    <option value="">Casamance</option>
                                    <option value="">Le Saloum</option>

                                </select>

                            </div>
                            <div class="form-group">
                                <label class="control control--checkbox">
                                    <span class="caption">Condition Générale</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center mt-5 section">

    </div>
    </div>

    <div class="py-5 cta-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="mb-2 text-white">Lets you Explore the Best. Contact Us Now</h2>
                    <p class="mb-4 lead text-white text-white-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p>
                    <p class="mb-0"><a href="booking.html" class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
