{% extends 'layout/base.html.twig' %}

{% block title %}Ville de Saint-Louis{% endblock %}

{% block body %}
{#    <div class="hero hero-inner">#}
{#        <div class="container">#}
{#            <div class="row align-items-center">#}
{#                <div class="col-lg-6 mx-auto text-center">#}
{#                    <div class="intro-wrap">#}
{#                        <h1 class="mb-0">Le Lac Rose ou Lac Retba</h1>#}
{#                        <p class="text-white">Le lac Rose, ou lac Rëtba pour les Wolofs, est une lagune côtière fermée, c'est-à-dire coupée de la mer, situé au Sénégal, à proximité immédiate de Dakar. Le « Lac » s'étend sur environ 3 km2, avec une profondeur faible. Ces eaux sont salées et ont une teinte rose en raison de la présence d'une algue microscopique. </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



{#    <div class="untree_co-section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-7">#}
{#                    <div class="owl-single dots-absolute owl-carousel">#}
{#                        <img src="{{ asset('assets/images/hero-slider-11.jpg') }}" alt="image" class="img-fluid rounded-20">#}
{#                        <img src="{{ asset('assets/images/hero-slider-12.jpg') }}" alt="image" class="img-fluid rounded-20">#}
{#                        <img src="{{ asset('assets/images/hero-slider-13.jpg') }}" alt="image" class="img-fluid rounded-20">#}

{#                        #}{#                        <img src="{{ asset('assets/images/slider_4.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">#}
{#                        #}{#                        <img src="{{ asset('assets/images/slider_5.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-5 pl-lg-5 ml-auto">#}
{#                    <h2 class="section-title mb-4">Voyage au Lac-Rose</h2>#}
{#                    <p>Le Lac Rose, Lac Retba de son vrai nom, est un incontournable lors d’un voyage au Sénégal. C’est l’un des lieux les plus connus du pays. Il est situé au nord de Dakar, à une quarantaine de kilomètres (1h de voiture environ). Il s’agit d’un lac salé, célèbre pour sa concentration en sel, sa couleur mais aussi pour avoir été le lieu d’arrivée du célèbre rallye Paris-Dakar jusqu’en 2007. J’y ai passé une journée et deux nuits, ce qui était parfait à mon avis pour découvrir le coin tranquillement. J’y suis allée en tout début janvier, lors des vacances scolaires de Noël. C’est un lieu que j’ai vraiment adoré! <br><br>#}
{#                        Toutefois, la couleur n’apparaît que lorsque deux éléments sont réunis: il faut du vent pour agiter ces microorganismes et du soleil pour éclairer le lac. Petite précision au passage, on entend souvent parler de “mer rose” au Sénégal, mais le lac Retba est en fait un plan d’eau fermé, c’est à dire qu’il n’y a pas d’accès depuis l’océan.</p>#}

{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="untree_co-section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-7">#}
{#                    <div class="owl-single dots-absolute owl-carousel">#}
{#                        <img src="{{ asset('assets/images/hero-slider-16.jpg') }}" alt="image" class="img-fluid rounded-20">#}
{#                        <img src="{{ asset('assets/images/hero-slider-17.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">#}
{#                        <img src="{{ asset('assets/images/hero-slider-18.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">#}

{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-5 pl-lg-5 ml-auto">#}
{#                    <h2 class="section-title mb-4">A savoir sur le Lac</h2>#}
{#                    <p>On l'appelle le Lac Rose mais on aurait ou le nommer le Lac Rouge car la couleur ocre prédomine souvent, variant en fonction de la luminosité et des saisons. <br><br>#}
{#                        La récolte du sel est travaillée quotidiennement, on peut y extraire 80 à 300 grammes de sel par litre d'eau, ce qui est particulièrement dense !<br>#}
{#                        De jour comme de nuit, le lac Rose est donc en activité intensive. Les travailleurs viennent extraire manuellement le sel du lac qui en contient une quantité faramineuse.<br>Pour se protéger de l'agressivité du sel sur la peau, les employés du sel se recouvrent de beurre de karité. De par sa concentration en sel, le Lac Retba possède un écosystème unique, des bactéries ultra résistantes s'y développant.<br>Pour séjourner au bord du Lac Rose, il existe des hôtels et gîtes typiques du Pays qui vous permettront d'observer l'activité effervescente des lieux et les changements de couleurs selon la lumière du soleil.#}

{#                    </p>#}

{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">Île de Gorée</h1>
                        <p class="text-white">Classé au patrimoine mondial de l’UNESCO depuis 1978, l’endroit est le symbole de l’exploitation humaine et de l’esclavage. Non seulement l’île vous invite à découvrir une partie de l’histoire du Sénégal, mais elle vous met également face à un pan sombre de l’Histoire. Apprêtez-vous à vivre une visite riche en émotions en mettant le cap sur cette île si particulière. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="untree_co-section">
        <div class="container my-5">
            <div class="mb-5">
                <div class="owl-single dots-absolute owl-carousel">
                    <img src="{{ asset('assets/images/gor/sliderg_1.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/gor/sliderg_2.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/gor/sliderg_3.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/gor/sliderg_4.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                    <img src="{{ asset('assets/images/gor/sliderg_5.jpg') }}" alt="Free HTML Template by Untree.co" class="img-fluid">
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-lg-4">
                    <div class="custom-block" data-aos="fade-up">
                        <h2 class="section-title">A Visiter</h2>
                        <div class="custom-accordion" id="accordion_1">
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Histoire de l'Île </button>
                                </h2>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
                                    <div class="accordion-body">
                                        C’est en 1444 que l’histoire de l’île de Gorée a débuté, lorsque le navigateur portugais Dinis Dias a posé le pied sur une terre qu’il a baptisée « Palma ». Gouvernée tour à tour par les Portugais, les Néerlandais, les Britanniques et les Français, l’île a connu des siècles mouvementés, marqués par plusieurs guerres visant à déterminer qui aurait la chance de détenir cette île stratégiquement située.<br> <br>
                                        Si les historiens peinent à cerner l’ampleur du marché des esclaves qui a existé sur l’île, ils ont longtemps estimé qu’entre 900 et 15 000 esclaves ont été déportés depuis Gorée entre 1726 et 1848. Aujourd’hui, on pense que le nombre de captifs déportés en réalité depuis l’île sénégalaise ne dépasserait pas 3 500 sur l’ensemble de la période de la traite. Un chiffre qui donne, quoi qu’il en soit, des frissons. <br><br>Votre passage sur l’île est aussi l’occasion de vous cultiver dans l’un des nombreux musées ouverts toute l’année. Le musée de la mer, réputé pour sa collection de 750 espèces de poissons et 700 espèces de mollusques, ravira les amoureux de l’eau. Le musée de la femme, ouvert en 1994, vous permettra de rendre hommage aux femmes du pays.
                                    </div>
                                </div>
                            </div> <!-- .accordion-item -->

                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Que voir et faire sur l'île de Gorée ?</button>
                                </h2>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
                                    <div class="accordion-body">
                                        Outre la Maison des Esclaves, l’île de Gorée compte de nombreux autres sites d’intérêt, tels que le Fort d’Estrées, la Maison des Artistes, le Musée de la Femme et le Musée de la Mer. Ces musées proposent des expositions fascinantes sur l’histoire et la culture de l’île de Gorée et du Sénégal.

                                        Pour les amateurs d’art, l’île de Gorée regorge de galeries d’art et d’ateliers d’artistes locaux. Vous pourrez découvrir les œuvres d’artistes sénégalais émergents et confirmés et acheter des souvenirs uniques à ramener chez vous.

                                        Enfin, l’île de Gorée offre également de nombreuses activités de plein air, telles que des promenades sur la plage, des randonnées et des visites guidées de l’île. Vous pourrez également déguster la cuisine locale et découvrir la musique et la danse sénégalaises dans les nombreux restaurants et clubs de l’île.
                                    </div>
                                </div>
                            </div> <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Comment se rendre sur l'île de Gorée ?</button>
                                </h2>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
                                    <div class="accordion-body">
                                        Pour se rendre sur l’île de Gorée, il suffit de prendre un ferry depuis la ville de Dakar. Les ferries partent toutes les heures et le voyage dure environ 20 minutes. Une fois sur l’île de Gorée, vous pouvez explorer l’île à pied ou à vélo.

                                        En conclusion, l’île de Gorée est une destination touristique incontournable pour les voyageurs qui souhaitent découvrir l’histoire et la culture de l’Afrique de l’Ouest. Avec sa Maison des Esclaves, ses musées d’art et d’histoire, ses galeries d’art et ses restaurants locaux, l’île de Gorée
                                    </div>
                                </div>

                            </div> <!-- .accordion-item -->

                        </div>
                    </div> <!-- END .custom-block -->
                    <div class="custom-block" data-aos="fade-up">
                        <h2 class="section-title">Gallery</h2>

                    </div> <!-- END .custom-block -->


                </div>
                <div class="col-lg-4">
                    <div class="custom-block" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="section-title">Plus de Renseignements ? </h2>
                        <form class="contact-form bg-white">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-black" for="fname">Prénom*</label>
                                        <input type="text" class="form-control" id="fname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-black" for="lname">Nom*</label>
                                        <input type="text" class="form-control" id="lname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-black" for="email">Email* </label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre adresse électronique à qui que ce soit..</small>
                            </div>
                            {#                            <div class="form-group">#}
                            {#                                <label class="text-black" for="password">Password</label>#}
                            {#                                <input type="password" class="form-control" id="password">#}
                            {#                            </div>#}
                            <div class="form-group">
                                <label class="text-black" for="message">Message*</label>
                                <textarea name="" class="form-control" id="message" cols="30" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="text-black" for="select">Select*</label>

                                <select name="" id="select" class="custom-select">
                                    <option value="">Lieux...</option>
                                    <option value="">Dakar</option>
                                    <option value="">Saint-Louis</option>
                                    <option value="">Lac-Rose</option>
                                    <option value="">île de Gorée</option>
                                    <option value="">Désert de Lompoul</option>
                                    <option value="">Casamance</option>
                                    <option value="">Le Saloum</option>

                                </select>

                            </div>
                            <div class="form-group">
                                <label class="control control--checkbox">
                                    <span class="caption">Condition Générale</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center mt-5 section">

    </div>
    </div>

    <div class="py-5 cta-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="mb-2 text-white">Lets you Explore the Best. Contact Us Now</h2>
                    <p class="mb-4 lead text-white text-white-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p>
                    <p class="mb-0"><a href="booking.html" class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
