{% extends 'layout/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="hero">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="intro-wrap">
                        <h1 class="mb-5"><span class="d-block">Faisons le tour du</span> Sénégal en passant <br> par <span class="typed-words"></span></h1>

                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="slides">
                        <img src="{{ asset('assets/images/hero-slider-1.jpg') }}" alt="Image" class="img-fluid active">
                        <img src="{{ asset('assets/images/hero-slider-11.jpg') }}" alt="Image" class="img-fluid ">
                        <img src="{{ asset('assets/images/hero-slider-14.jpg') }}" alt="Image" class="img-fluid ">
                        <img src="{{ asset('assets/images/hero-slider-10.jpg') }}" alt="Image" class="img-fluid ">
                        <img src="{{ asset('assets/images/hero-slider-6.jpg') }}" alt="Image" class="img-fluid ">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="untree_co-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="section-title text-center mb-3">En résumé</h2>
                    <p>Le Sénégal est un pays d’<b>Afrique de l’Ouest</b>, bordé par la Mauritanie, le Mali, la Guinée, la Guinée-Bissau, la Gambie et l’océan Atlantique. La langue officielle est le français, mais le wolof est la langue la plus parlée. Le Sénégal est connu pour sa <b>musique</b> , sa <b>danse</b>, son <b></b>art et sa <b>littérature</b>. La cuisine sénégalaise est également très populaire, avec des <b>plats</b>  tels que le thiéboudienne, le yassa et le mafé. Le <b>tourisme</b> est également une industrie importante au Sénégal, avec des attractions telles que l’île de Gorée, le parc national du delta du Saloum et le lac Rose.</p>
                </div>
            </div>
            <div class="row align-items-stretch">
                <div class="col-lg-4 order-lg-1">
                    <div class="h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('{{ asset('assets/images/hero-slider-1.jpg') }}');"></div></div></div>
                </div>

                <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

                    <div class="feature-1 d-md-flex">
                        <div class="align-self-center">
                            <span class="flaticon-house display-4 text-primary"></span>
                            <h3>Logements</h3>
                            <p class="mb-0">Vous ne savais pas où dormir, voici des bons plants d'hébergement.</p>
                        </div>
                    </div>

                    <div class="feature-1 ">
                        <div class="align-self-center">
                            <span class="flaticon-restaurant display-4 text-primary"></span>
                            <h3>Restaurants & Cafe</h3>
                            <p class="mb-0">Petite faim, vous trouverez sur ici les bons plants pour ce restaurer ou
                                passer un bon moment devant un café et en écoutant une bonne music...</p>
                        </div>
                    </div>

                </div>

                <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

                    <div class="feature-1 d-md-flex">
                        <div class="align-self-center">
                            <span class="flaticon-playground display-4 text-primary"></span>
                            <h3>Loisirs</h3>
                            <p class="mb-0">Vous voulez faire une promenade, voir le couché de soleil au bord de la mer, faire la fête le soir avec des concerts inédit ou pourquoi pas une boite de nuit :) .</p>
                        </div>
                    </div>

                    <div class="feature-1 d-md-flex">
                        <div class="align-self-center">
                            <span class="flaticon-phone-call display-4 text-primary"></span>
                            <h3>Nous Contactez</h3>
                            <p class="mb-0">Contactez-nous pour toute sortes de renseignement, nous répondront le plus rapidement possible.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="untree_co-section count-numbers py-5">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="counter-wrap">
                        <div class="counter">
                            <span class="" data-number="1400000">0</span>
                        </div>
                        <span class="caption">Touristes par ans </span>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="counter-wrap">
                        <div class="counter">
                            <span class="" data-number="280000">0</span>
                        </div>
                        <span class="caption">Pour un séjour de loisirs </span>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="counter-wrap">
                        <div class="counter">
                            <span class="" data-number="744">0</span>
                        </div>
                        <span class="caption">Nombre de Réceptifs</span>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="counter-wrap">
                        <div class="counter">
                            <span class="" data-number="531">0</span>
                        </div>
                        <span class="caption">Guides Touristiques</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="untree_co-section">
        <div class="container">
            <div class="row text-center justify-content-center mb-5">
                <div class="col-lg-7"><h2 class="section-title text-center">Les Destinations Populaires</h2></div>
            </div>

            <div class="owl-carousel owl-3-slider">

                <div class="item">
                    <a class="media-thumb" href="{{ asset('assets/images/hero-slider-7.jpg') }}" data-fancybox="gallery">
                        <div class="media-text">
                            <h3>Gorée</h3>
                            <span class="location">Sénégal</span>
                        </div>
                        <img src="{{ asset('assets/images/hero-slider-7.jpg') }}" alt="Image" class="img-fluid">
                    </a>
                </div>

                <div class="item">
                    <a class="media-thumb" href="{{ asset('assets/images/hero-slider-2.jpg') }}" data-fancybox="gallery">
                        <div class="media-text">
                            <h3>Casamance</h3>
                            <span class="location">Sénégal</span>
                        </div>
                        <img src="{{ asset('assets/images/hero-slider-2.jpg') }}" alt="Image" class="img-fluid">
                    </a>
                </div>

                <div class="item">
                    <a class="media-thumb" href="{{ asset('assets/images/hero-slider-3.jpg') }}" data-fancybox="gallery">
                        <div class="media-text">
                            <h3>Lac Rose</h3>
                            <span class="location">Sénégal</span>
                        </div>
                        <img src="{{ asset('assets/images/hero-slider-3.jpg') }}" alt="Image" class="img-fluid">
                    </a>
                </div>


                <div class="item">
                    <a class="media-thumb" href="{{ asset('assets/images/hero-slider-11.jpg') }}" data-fancybox="gallery">
                        <div class="media-text">
                            <h3>Ndar/Saint-louis</h3>
                            <span class="location">Sénégal</span>
                        </div>
                        <img src="{{ asset('assets/images/hero-slider-11.jpg') }}" alt="Image" class="img-fluid">
                    </a>
                </div>

                <div class="item">
                    <a class="media-thumb" href="{{ asset('assets/images/hero-slider-1.jpg') }}" data-fancybox="gallery">
                        <div class="media-text">
                            <h3>Dakar</h3>
                            <span class="location">Sénégal</span>
                        </div>
                        <img src="{{ asset('assets/images/hero-slider-1.jpg') }}" alt="Image" class="img-fluid">
                    </a>
                </div>

                <div class="item">
                    <a class="media-thumb" href="{{ asset('assets/images/hero-slider-10.jpg') }}" data-fancybox="gallery">
                        <div class="media-text">
                            <h3>Desert de Lompoul</h3>
                            <span class="location">Sénégal</span>
                        </div>
                        <img src="{{ asset('assets/images/hero-slider-10.jpg') }}" alt="Image" class="img-fluid">
                    </a>
                </div>

            </div>

        </div>
    </div>


    <div class="untree_co-section testimonial-section mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <h2 class="section-title text-center mb-5">A chacun son expérience</h2>

                    <div class="owl-single owl-carousel no-nav">
                        <div class="testimonial mx-auto">
                            <figure class="img-wrap">
                                <img src="{{ asset('assets/images/person_2.jpg') }}" alt="Image" class="img-fluid">
                            </figure>
                            <h3 class="name">Adam Aderson</h3>
                            <blockquote>
                                <p>&ldquo;Tout est incroyabe! J'ai beaucoup aimé la visite du Sine Saloum en pirogue & marchés pour découvrir la culture locale & école de brousse au Sénégal.&rdquo;</p>
                            </blockquote>
                        </div>



                        <div class="testimonial mx-auto">
                            <figure class="img-wrap">
                                <img src="{{ asset('assets/images/person_3.jpg') }}" alt="Image" class="img-fluid">
                            </figure>
                            <h3 class="name">Lukas Devlin</h3>
                            <blockquote>
                                <p>&ldquo;Merveilleuse expérience du lac rose pour découvrir le processus de fabrication du sel. Balade en 4X4 dans les dunes de sable avec un guide francophone.&rdquo;</p>
                            </blockquote>
                        </div>

                        <div class="testimonial mx-auto">
                            <figure class="img-wrap">
                                <img src="{{ asset('assets/images/person_4.jpg') }}" alt="Image" class="img-fluid">
                            </figure>
                            <h3 class="name">Anna Devlin</h3>
                            <blockquote>
                                <p>&ldquo;I had an excellent experience visiting a fish dryer, a bush school and a meal with the Peuls, a nomadic bush people.."</p>
                            </blockquote>
                        </div>

                        <div class="testimonial mx-auto">
                            <figure class="img-wrap">
                                <img src="{{ asset('assets/images/person_5.jpg') }}" alt="Image" class="img-fluid">
                            </figure>
                            <h3 class="name">Stéphanie Baldelli</h3>
                            <blockquote>
                                <p>&ldquo;Une expérience inoubliable surtout à Saint-Louis de par sa culture, son histoire et ses plats typique de la région."</p>
                            </blockquote>
                        </div>

                        <div class="testimonial mx-auto">
                            <figure class="img-wrap">
                                <img src="{{ asset('assets/images/person_1.jpg') }}" alt="Image" class="img-fluid">
                            </figure>
                            <h3 class="name">Ryan De Ferrières</h3>
                            <blockquote>
                                <p>&ldquo;Déjà presque une semaine de passée depuis notre retour du Sénégal, et pourtant l impression de ne pas avoir encore atterri...."</p>
                            </blockquote>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="untree_co-section">
        <div class="container">
            <div class="row justify-content-between align-items-center">

                <div class="col-lg-6">
                    <figure class="img-play-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DbFK0U2NqRw?si=hSVibG0geiB3fK88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </figure>
                </div>

                <div class="col-lg-5">
                    <h2 class="section-title text-left mb-4">Un petit court métrage sur le Sénégal</h2>
                    <p>Vous trouverez sur cette video de For You média Africa, un petit reportage sur l'émergence du sénégal en passant par plusieurs structures et régions. </p>




                    <p><a target="_blank" href="https://www.fram.fr/senegal/sejour-vacances-voyage-senegal-pas-cher-2/?cid=SEM-&mkwid=_dc&pcrid=71056182686802&plid=&kword=https%3A%2F%2Fwww.fram.fr%2Fsenegal%2Fsejour-vacances-voyage-senegal-pas-cher-2%2F&msclkid=25973c61652a1d849844591897695af7&utm_source=bing&utm_medium=cpc&utm_campaign=FRAM%20Bing%20-%20Senegal%20-%20Bing&utm_term=https%3A%2F%2Fwww.fram.fr%2Fsenegal%2Fsejour-vacances-voyage-senegal-pas-cher-2%2F&utm_content=Senegal%20-%20DSA#activeEngineType=voyage&durationRangeMax=11&durationRangeMin=6&departureDate=12/01/2024&flexi=90&themespace=sejour-voyage&destinationsZones=1610&destinationLabel=Senegal&destinationType=ZONE" class="btn btn-primary">En savoir plus</a></p>


                </div>
            </div>
        </div>
    </div>



    <div class="py-5 cta-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="mb-2 text-white">Pour plus de détails. Contactez-nous </h2>
                    <p class="mb-4 lead text-white text-white-opacity">Le Sénégal à pour objectif d'atteindre plus de 3 millions de touristes en 2024.</p>
                    <p class="mb-0"><a target="_blank" href="https://www.seneplus.com/article/les-chiffres-du-tourisme-au-s%c3%a9n%c3%a9gal#:~:text=Le%20territoire%20est%20subdivis%C3%A9%20en%20six%20grands%20p%C3%B4les,de%20congr%C3%A8s%2C%20le%20tourisme%20baln%C3%A9aire%2C%20le%20tourisme%20culturel...%E2%80%9D." class="btn btn-outline-white text-white btn-md font-weight-bold">Vérifier</a></p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
