
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
    <div class="container">
        <div class="site-navigation">
{#            <a href="index.html" class="logo m-0"><img src="{{ asset('assets/images/car_logo.png')}}" alt="image"></a>#}
            <a href="#"><img class="logo1" src="{{ asset('assets/images/car_logo.png')}}" alt="image"></a>

            <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
                <li class="active"><a href="{{ path('app_homepage') }}">Home</a></li>
                <li class="has-children">
                    <a href="#">Tourisme</a>
                    <ul class="dropdown">
                        <li><a href="{{ path('app_dak') }}">Dakar</a></li>
                        <li><a href="{{ path('app_sl') }}">Saint-louis</a></li>
                        <li><a href="{{ path('app_lac_rose') }}">Lac Rose</a></li>
                        <li><a href="{{ path('app_lompoul') }}">Lompoul</a></li>
                        <li><a href="{{ path('app_gore') }}">Île de Gorée</a></li>
                        <li><a href="{{ path('app_casamance') }}">La Casamance</a></li>
                        <li><a href="{{ path('app_en_construction') }}">Le Saloum</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('app_about') }}">Loisir</a></li>
                <li><a href="{{ path('app_en_construction') }}">Services</a></li>

                <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
            </ul>

            <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>

        </div>
    </div>
</nav>
</header>